{% extends 'base.html' %}
{% load static %}
{% block title %}
main page
{% endblock %}
{% block body %}
     <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">tabs on songs</h1>
          <p class="lead text-muted">Here you can find tabs for you favourite song</p>
          <p>
              <a href="/all-songs" class="btn btn-primary my-2">find tabs</a>
              <a href="#" class="btn btn-secondary my-2">about as</a>
          </p>
      </div>
    </div>
  </section>
{% endblock %}