{% extends 'base.html' %}
{% load static %}
{% block title %}
Log in
{% endblock %}
{% block body %}
    <body class="text-center">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sign-in/">
    <style>
        .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        }

        @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }}

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }

      {#._2np70 {#}
      {#  color: #afafaf;#}
      {#}#}
      {##}
      {#._3yAjN {#}
      {#  font-size: 15px;#}
      {#  font-weight: 700;#}
      {#  letter-spacing: .8px;#}
      {#  text-transform: uppercase;#}
      {#}#}

      ._2_JcM {
        background: #e5e5e5;
        flex-grow: 1;
        height: 2px;
        }

      ._36kWA {
color: #afafaf;
flex-grow: 0;
padding: 0 8px;
}
      ._3yAjN {
font-size: 15px;
font-weight: 700;
letter-spacing: .8px;
text-transform: uppercase;
}
      ._8oBzi {
grid-gap: 15px;
display: grid;
grid-template-columns: 1fr 1fr;
margin: 20px 0 0;
}
      p {
margin: 0 0 18px;
}
      p {
display: block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
}
      ._2z95t {
text-align: center;
}

    </style>

    <link href="{% static "css/signin.css"%}" rel="stylesheet">

    <main class="form-signin w-100 m-auto">
  <form>
    <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
    </svg>
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
{#        <a class="_2np70 _3yAjN" data-test="forgot-password" href="/">Forgot?</a>#}
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
  </form>
        <div class="_7pBya"><div class="_2_JcM"></div><div class="_36kWA _3yAjN">или</div><div class="_2_JcM"></div></div>
        <p class="_8oBzi"><button class="_1rl91 WOZnx _275sd _1ZefG _3U3Uo _3kyUU" type="button"><img class="_3zB0T _13HXc" src="https://d35aaqx5ub95lt.cloudfront.net/images/ded9ca9461387f30221b67f627227388.svg"><span class="_13HXc">Facebook</span></button><button class="_1rl91 WOZnx _275sd _1ZefG xijNL _1-mWU" type="button"><img class="_3zB0T _13HXc" src="https://d35aaqx5ub95lt.cloudfront.net/images/7da752378a3b1b8bbcd94a4d4f10561e.svg"><span class="_13HXc">Google</span></button></p>
</main>
{% endblock %}